.wrapper {
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
}

.clearfix {
  &,
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after { clear: both; }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right { float: right !important; }
.pull-left { float: left !important; }

.block-pad {
  padding: 50px 0;
}

.row-pad {
  padding: 30px 0;
}

/**
 * Responsive flex layout
 */

@mixin no-flex() {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  flex: none;
}


%flex-col {
  margin-left: $gutter;
  margin-right: $gutter;
  &:first-of-type { margin-left: 0; }
  &:last-of-type { margin-right: 0; }
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--grow {
    flex: 1;
  }

  &--col_phone {
    @extend %flex-col;
    @media #{$smart-phone} {
      @include no-flex();
    }
  }

  &--col_tab {
    @extend %flex-col;
    @media #{$tablet} {
      @include no-flex();
    }
  }

  &--col_fixed-width {
    width: 180px;
  }

  &--col-1 {
    flex: 1;
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;
    @extend %flex-col;
    @media #{$smart-phone} {
      @include no-flex();
    }
  }

}

.fluid--box {
  width: 33.3334%;
  @media #{$tablet} {
    width: 50%;
  }
  @media #{$smart-phone} {
    width: 100%;
  }
}