/*	VARIABLES
-----------------------------*/
/*---- Colors---- */
$accent-color: #51C5FD;
// $accent-color: #44BEC7;
$dark-accent: darken($accent-color, 20%);
$link-color: $accent-color;
$text-color: #777;
$heading-color: #666;
$bg-color: #fafafa;
$highlight-color: #FFF498;

/*--- Typography ---*/
$site-font: 'Poppins', Arial, Helvetica, sans-serif;
$huge-font:  'Poppins', Arial, Helvetica, sans-serif;


/*---- Layout ----*/
$gutter: 16px;

/*---- Break Points -----*/
$large-device: "screen and (max-width : 992px)";
$tablet: 			 "screen and (max-width : 700px)";
$smart-phone:  "screen and (max-width : 480px)";
$small-device: "screen and (max-width : 329px)";
