<div class="nav-position">

	<a href="/" class="logo">
		<i class="icon-logo"></i>
	</a>
	
	<!-- <h3>Joshua Azemoh</h3> -->
	
	<nav class="home-nav">
		<a href="/" class="brand">Azemoh</a>
		
		<label for="toggle" class="hambuger">
			<span></span><span></span><span></span>
		</label>
		
		<input type="checkbox" id="toggle">
		
		<ul class="nav-links">
			{% for menu in site.home_menu %}
				<li><a href="{{ menu.url }}">{{ menu.name }}</a></li>
			{% endfor %}
		</ul>
	</nav>
	
	<div class="social-links flex">
		{% for link in site.socialLinks %}
			<a href="{{ link.url }}" target="_blank" title="{{ link.title }}">
				<i class="icon-{{ link.name }}"></i>
			</a>
		{% endfor %}
	</div>
	
</div>