<section id="about" class="section">
  <div class="wrapper">

    <h3 class="section-title">About Myself</h3>
    <div class="seperator"><span></span></div>

    <div class="profile flex">

      <div class="flex-col-tab avatar-lockup">
        <img src="/assets/img/avatar.jpg" class="thumbnail" alt="Photo of Joshua">
      </div>

      <div class="flex-col-tab flex-grow blurb">
        <p class="lead">
          <strong>Hello, I am Joshua Azemoh.</strong><br>
          I'm a Software Engineer currently working at <a href="http://codaye.com" target="_blank">Codaye Technologies</a>
          where we provide awesome software solutions for businesses and individuals.
        </p>
        <p class="lead">
          I am passionate about Software Development, about applying the principles of Computer Science to solve problems and build useful things. So I am constantly looking for ways to learn new skills and build upon existing ones.
        </p>
      </div>

    </div>
  </div>
</section>
