<section id="about">
	<div class="wrapper">
	
		<h3 class="section-title">About Myself</h3>
		<p class="section-intro">A little about myself</p>
		
		<div class="profile col-1 flex">
			<div class="avatar-lockup"><img src="/assets/img/avatar.jpg" alt="Photo of Joshua"></div>
			
			<div class="blurb flex-grow">
				<p><strong>Lorem ipsum dolor sit</strong> amet, consectetur adipisicing elit. Maiores similique fugit, voluptate voluptatem sint, necessitatibus	<a href=\"\">expedita</a> cum fuga minima quos eos odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ea qui illo voluptas.</p>
			</div>
		</div>
	</div>
</section>