<section id="about" class="block-pad row-divider">
  <div class="wrapper">

    <h2 class="section-title">About Myself</h2>
    <div class="seperator"><span></span></div>

    <div class="profile flex">

      <div class="flex--col_tab flex--col_fixed-width">
        <img src="/assets/img/avatar-bw.jpg" class="thumbnail" alt="Photo of Joshua">
      </div>

      <div class="flex--col_tab flex--grow blurb lead">
        <p><strong>Hello, I am Joshua Azemoh.</strong><br>
          I am a Software Writer, happiest when I'm bringing things to life. Passionate about Software Development and applying the principles of Computer Science to solve problems and build useful things.</p>
      </div>

    </div>
  </div>
</section>
