<section id="contact">
	<div class="wrapper">
	
		<h3 class="section-title">Get in touch</h3>
		<p class="section-intro">Drop me a line...</p>
		
		<form action="" method="post" class="col-1 contact-form">
			
			<div class="flex">
				<div class="col-2 sm"><input type="text" name="name" placeholder="Name" required class="field"></div>
				<div class="col-2 sm"><input type="email" name="email" placeholder="Email" required class="field"></div>
			</div>
			
			<textarea name="message" name="message" rows="5" placeholder="Message" required class="field"></textarea>
			
			<div class="flex-actions">
				<input type="submit" class="button solid" value="Send">
				<input type="reset" class="button ghost" value="Clear">
			</div>
			
		</form>
		
	</div>
</section>