<section id="contact" class="alt-bg home-section">
  <div class="wrapper">

    <h3 class="section-title">Get in touch</h3>
    <div class="seperator"><span></span></div>
    <div class="flex">

      <div class="flex-col-tab flex-grow">
        <h4>Drop me a line!</h4>
        <hr>
        <form action="" method="post" class="contact-form">

          <div class="flex">
            <div class="flex-col-1">
              <input type="text" name="name" placeholder="Name" required class="field">
            </div>
            <div class="flex-col-1">
              <input type="email" name="email" placeholder="Email" required class="field">
            </div>
          </div>

          <textarea name="message" id="message" rows="3" placeholder="Message" required class="field"></textarea>

          <div class="flex-actions">
            <input type="submit" class="button" value="Send">
            <input type="reset" class="button" value="Clear">
          </div>

        </form>
      </div>

      <div class="flex-col-tab social">
        <h4>Connect with me.</h4>
        <hr>

        <p><a href="mailto://{{ site.email }}"><span class="icon-email"></span>{{ site.email }}</a></p>
      </div>

    </div>

  </div>
</section>
