<section id="writing" class="block-pad">
  <div class="wrapper">

    <h2 class="section-title">Latest Posts</h2>
    <div class="seperator"><span></span></div>

    <div class="post-excerpts">
      {% for post in site.posts limit:3 %}
      <article class="post-excerpt row-pad row-divider">

        <p class="post-excerpt--meta"><i class="icon-date"></i>&nbsp;<time>{{ post.date | date: '%B %d, %Y' }}</time></p>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post-excerpts--intro">
          {{ post.content | truncatewords: 55 | strip_html }}
          <a href="{{ post.url }}" class="read-more">keep reading ></a>
        </div>

      </article>
      {% endfor %}

      <article class="post-excerpt row-pad row-divider">
          <a href="/writing/">See more posts</a>.
      </article>
    </div>

  </div>
</section>
