.hambuger {
  height: 40px;
  display: none;
  padding: 9px;
  float: right;
  cursor: pointer;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
  span {
    width: 31px;
    display: block;
    border-top: 4px solid $text-color;
  }
}

.section-title {
  text-align: center;
  color: $accent-color;
  position: relative;
  font-weight: 400;
  &.after {
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    bottom: -10px;
    width: 100px;
    display: block;
    content: "";
    border: 1px solid $accent-color;
  }
}

.blinking-cursor {
  font-style: normal;
  color: inherit;
  animation: 1s blink step-end infinite;
}

@include keyframes(blink) {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.in-shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.075) inset;
}

.thumbnail {
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #EEE;
}

hr {
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    content: "";
    border-bottom: 2px solid $accent-color;
    width: 180px;
  }
}

.seperator {
  text-align: center;
  margin-bottom: $gutter * 2.5;
  color: #ddd;
  &:before,
  &:after {
    content: "";
    display: inline-block;
    width: 80px;
    border-bottom: 1px solid #ddd;
    position: relative;
    bottom: 6px;
    margin-left: 8px;
    margin-right: 8px;
  }
  span {
    @include size(15px);
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ddd;
  }
}

#form-feedback {
  margin-bottom: $gutter;
}

.success {
	color: limegreen;
}

.error {
	color: red;
}