/* Fields
 * for use with inputs and textereas */

.field {
  width: 100%;
  padding: .5rem .7rem;
  margin-bottom: $gutter;
  border-radius: 4px;
  background: $bg-color;
  color: $text-color;
  border: 1px solid #DDD;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s;
  &:focus {
    border: 1px solid $accent-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba($accent-color, 0.6);
  }
}

.btn {
  display: inline-block;
  padding: 6px 18px;
  border: 1px solid $accent-color;
  margin-right: 10px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-right: 0;
  }

  &--clear {
    color: $accent-color;

    &:hover {
      color: $dark-accent;
    }
  }

  &--solid {
    background-color: $accent-color;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: $dark-accent;
    }
  }

  &--3d {
    border: 1px solid transparent;
    color: #FFF !important;
    background: $accent-color;
    border-width: 0 0 .2rem;
    border-color: $dark-accent;
    border-radius: 4px;
    &:hover {
      margin-top: .1rem;
      border-bottom-width: .1rem;
      text-decoration: none;
    }
  }

  &:hover {
    border-color: $dark-accent;
    text-decoration: none;
  }

  [class^="icon-"], [class*=" icon-"] {
    margin-right: 5px;
    line-height: 1.5;
  }
}
