@import 'goto';
@import 'forms';
@import 'footer';

.hambuger {
	height: 36px;
	display: none;
	padding: 9px;
	float: right;
	cursor: pointer;
	flex-direction: column;
	background-color: transparent;
	justify-content : space-between;
	span {
		width: 25px;
		display: block;
		border-top: 3px solid $text-color;
	}
}

.section-title {
	text-align: center;
	margin: 15px 0;
//		font-weight: 400;
//		text-transform: uppercase;
}

.section-intro {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.blinking-cursor {
	font-style: normal;
	color: inherit;
	animation: 1s blink step-end infinite;
}

@include keyframes(blink) {
	from, to { 	opacity: 0; }
	50% { opacity: 1; }
}

.in-shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.075) inset;
}

.thumbnail {
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #EEE;
}