.post {
  &-excerpt {
    border-bottom: 2px solid #f6f6f6;

    &:last-of-type {
      border-bottom: none;
    }

    &--meta {
      margin-bottom: 10px;
      font-size: 0.9rem;
    }
  }
}

.paginator {
  text-align: center;
}