@charset "UTF-8";
/*	VARIABLES
-----------------------------*/
/*---- Colors---- */
/*--- Typography ---*/
/*---- Layout ----*/
/*---- Break Points -----*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

code, pre {
  font-size: 0.9em; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.post > .highlight .lineno {
  color: #ccc;
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc; }

.post > .highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal; }

code.highlighter-rouge {
  background: #f2f2f2; }

/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #777;
  font-size: 100%;
  line-height: 1.5;
  background-color: #fff;
  -webkit-tap-highlight-color: #FFF498; }

.alt-bg {
  background-color: #F9FAFB; }

.dark-bg {
  color: #fff; }
  .dark-bg h1, .dark-bg .h1,
  .dark-bg h2, .dark-bg .h2,
  .dark-bg h3, .dark-bg .h3,
  .dark-bg h4, .dark-bg .h4,
  .dark-bg h5, .dark-bg .h5,
  .dark-bg h6, .dark-bg .h6,
  .dark-bg .huge {
    color: #fff; }

.lead {
  font-size: 1.2rem; }

small {
  font-size: 0.8rem; }

.tiny {
  font-size: 0.7rem; }

p {
  margin: 0; }
  p + p {
    margin-top: 10px; }

/* --- headings --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #666; }

h1,
.huge {
  font-family: "Raleway", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700; }

h1, h2, h3 {
  margin-bottom: 1rem; }

strong, b {
  font-weight: 600; }

.huge {
  font-size: 4.8em;
  letter-spacing: -4px;
  line-height: 1.08; }
  @media screen and (max-width: 700px) {
    .huge {
      font-size: 4rem; } }
  @media screen and (max-width: 480px) {
    .huge {
      font-size: 3rem; } }

h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 1.2; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: 2.2rem;
  letter-spacing: -1px;
  line-height: 1.3; }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 1.5rem;
  line-height: 1.3; }
  @media screen and (max-width: 480px) {
    h3 {
      font-size: 1.3rem; } }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: .8rem; }

h6 {
  font-size: .6rem; }

/*  Links and buttons
---------------------------------*/
a {
  text-decoration: none;
  color: #51C5FD;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s; }
  a:hover {
    color: #05acfc;
    text-decoration: underline; }

a,
input,
button,
select,
textarea {
  outline: 0 none; }
  a:active, a:visited, a:focus,
  input:active,
  input:visited,
  input:focus,
  button:active,
  button:visited,
  button:focus,
  select:active,
  select:visited,
  select:focus,
  textarea:active,
  textarea:visited,
  textarea:focus {
    outline: none 0; }

textarea {
  resize: none; }

hr {
  margin-top: .3rem;
  margin-bottom: 1.3rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* ------ Normalize ----- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

img {
  max-width: 100%; }

.wrapper {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px; }

.clearfix, .clearfix:before, .clearfix:after {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.block-pad {
  padding-top: 50px;
  padding-bottom: 50px; }

.row-pad {
  padding-top: 30px;
  padding-bottom: 30px; }

/**
 * Responsive flex layout
 */
.flex--col_phone, .flex--col_tab, .flex--col-1 {
  margin-left: 16px;
  margin-right: 16px; }
  .flex--col_phone:first-of-type, .flex--col_tab:first-of-type, .flex--col-1:first-of-type {
    margin-left: 0; }
  .flex--col_phone:last-of-type, .flex--col_tab:last-of-type, .flex--col-1:last-of-type {
    margin-right: 0; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .flex--grow {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  @media screen and (max-width: 480px) {
    .flex--col_phone {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      -webkit-box-flex: 0;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none; } }
  @media screen and (max-width: 700px) {
    .flex--col_tab {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      -webkit-box-flex: 0;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none; } }
  .flex--col_fixed-width {
    width: 180px; }
  .flex--col-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 8px;
    margin-right: 8px; }
    @media screen and (max-width: 480px) {
      .flex--col-1 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        -webkit-box-flex: 0;
        -webkit-flex: none;
            -ms-flex: none;
                flex: none; } }

.fluid--box {
  width: 33.3334%; }
  @media screen and (max-width: 700px) {
    .fluid--box {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .fluid--box {
      width: 100%; } }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?mpb3pc");
  src: url("fonts/icomoon.eot?mpb3pc#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?mpb3pc") format("truetype"), url("fonts/icomoon.woff?mpb3pc") format("woff"), url("fonts/icomoon.svg?mpb3pc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-date:before {
  content: "\e901"; }

.icon-tag:before {
  content: "\e902"; }

.icon-a:before {
  content: "\e600"; }

.icon-about-me:before {
  content: "\e601"; }

.icon-azemoh:before {
  content: "\e900"; }

.icon-close:before {
  content: "\f00d"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-chevron-up:before {
  content: "\f077"; }

.icon-chevron-down:before {
  content: "\f078"; }

.icon-phone:before {
  content: "\f095"; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-github:before {
  content: "\f09b"; }

.icon-google-plus:before {
  content: "\f0d5"; }

.icon-email:before {
  content: "\f0e0"; }

.icon-linkedin:before {
  content: "\f0e1"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-angle-up:before {
  content: "\f106"; }

.icon-angle-down:before {
  content: "\f107"; }

.icon-quote-left:before {
  content: "\f10d"; }

.icon-quote-right:before {
  content: "\f10e"; }

.icon-spinner:before {
  content: "\f110"; }

.icon-terminal:before {
  content: "\f120"; }

.icon-code:before {
  content: "\f121"; }

.icon-apple:before {
  content: "\f179"; }

.icon-windows:before {
  content: "\f17a"; }

.icon-android:before {
  content: "\f17b"; }

.icon-at:before {
  content: "\f1fa"; }

.icon-whatsapp:before {
  content: "\f232"; }

.hambuger {
  height: 40px;
  display: none;
  padding: 9px;
  float: right;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .hambuger span {
    width: 31px;
    display: block;
    border-top: 4px solid #777; }

.section-title {
  text-align: center;
  position: relative;
  margin: 0; }
  .section-title.after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
            transform: translateX(-50px);
    bottom: -10px;
    width: 100px;
    display: block;
    content: "";
    border: 1px solid #51C5FD; }

.blinking-cursor {
  font-style: normal;
  color: inherit;
  -webkit-animation: 1s blink step-end infinite;
          animation: 1s blink step-end infinite; }

@-webkit-keyframes blink {
  from,
  to {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes blink {
  from,
  to {
    opacity: 0; }
  50% {
    opacity: 1; } }

.in-shadow {
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.075) inset; }

.thumbnail {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 5px;
  border: 1px solid #EEE; }

hr {
  position: relative; }
  hr:before {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    content: "";
    border-bottom: 2px solid #51C5FD;
    width: 180px; }

.seperator {
  text-align: center;
  margin-bottom: 40px;
  color: #ddd; }
  .seperator:before, .seperator:after {
    content: "";
    display: inline-block;
    width: 80px;
    border-bottom: 1px solid #ddd;
    position: relative;
    bottom: 6px;
    margin-left: 8px;
    margin-right: 8px; }
  .seperator span {
    height: 15px;
    width: 15px;
    display: inline-block;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid #ddd; }

#form-feedback {
  margin-bottom: 16px; }

.success {
  color: limegreen; }

.error {
  color: red; }

.row-divider {
  border-bottom: 2px solid #f6f6f6; }
  .row-divider:last-child {
    border-bottom: none; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.hero {
  position: relative;
  border-bottom: 1px solid #EEE;
  background: #F9FAFC;
  background-attachment: fixed;
  background-image: url(../img/bg.jpg); }
  .hero .hero-overlay {
    padding: 9rem 0 6rem; }
    @media screen and (max-width: 480px) {
      .hero .hero-overlay {
        padding: 8rem 0 5rem; } }
  .hero .hero-intro {
    width: 100%;
    padding: 0 15px;
    text-align: center; }
    .hero .hero-intro h1 {
      margin: 0;
      display: inline-block;
      position: relative;
      font-weight: 700; }
      .hero .hero-intro h1 span {
        position: absolute;
        margin-top: -4px;
        font-weight: 300; }
    .hero .hero-intro h2 {
      margin: 0;
      font-weight: 300;
      color: #51C5FD; }
    .hero .hero-intro p {
      max-width: 600px;
      margin: 10px auto 0; }
    @media screen and (max-width: 700px) {
      .hero .hero-intro p {
        max-width: 500px; } }
    @media screen and (max-width: 480px) {
      .hero .hero-intro h1 {
        letter-spacing: -2.5px; }
      .hero .hero-intro h2 {
        font-size: 1.5em; }
      .hero .hero-intro p {
        font-size: 1em;
        max-width: 360px; } }
  .hero .godown {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 15px; }

.top-nav {
  width: 100%;
  min-height: 45px;
  position: fixed;
  padding: 35px 0 5px;
  overflow: hidden;
  z-index: 1000;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s; }
  @media screen and (max-width: 480px) {
    .top-nav {
      padding-top: 15px; } }
  .top-nav.no-pad {
    background: rgba(255, 255, 255, 0.3);
    padding-top: 5px;
    -webkit-transition: padding-top 0.5s;
    transition: padding-top 0.5s; }
  .top-nav.opaque {
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #EEE; }
    .top-nav.opaque ul li:last-of-type a {
      border: none;
      background-color: #51C5FD;
      color: #fff; }
      .top-nav.opaque ul li:last-of-type a:hover {
        background-color: #05acfc; }
  .top-nav .nav-links {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s; }
    .top-nav .nav-links li {
      margin: 0;
      padding: 0;
      display: inline-block; }
      .top-nav .nav-links li:last-of-type a {
        border: 2px solid #777;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        padding: 9px 6px;
        margin-left: 10px; }
        .top-nav .nav-links li:last-of-type a:hover {
          border-color: #51C5FD; }
      .top-nav .nav-links li a {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        color: #777;
        padding: 13px 10px; }
        .top-nav .nav-links li a:hover, .top-nav .nav-links li a.active {
          text-decoration: none;
          color: #51C5FD; }
    @media screen and (max-width: 700px) {
      .top-nav .nav-links {
        width: 100%;
        max-height: 0;
        text-align: right;
        background: rgba(255, 255, 255, 0.9); }
        .top-nav .nav-links li {
          width: 100%; }
          .top-nav .nav-links li a {
            width: 100%; } }
  .top-nav > div {
    position: relative; }
  .top-nav .motor {
    font-size: 13px;
    color: #ccc;
    display: inline-block;
    margin: 13px 0 0 120px;
    padding-left: 10px;
    border-left: 1px solid #ccc; }
    @media screen and (max-width: 700px) {
      .top-nav .motor {
        margin-left: 107px; } }
    @media screen and (max-width: 480px) {
      .top-nav .motor {
        margin-left: 40px; } }
  .top-nav .brand {
    position: absolute;
    top: 0;
    left: 16px;
    display: inline-block;
    font-size: 7rem;
    line-height: 2.5rem;
    text-decoration: none; }
    .top-nav .brand ~ a {
      display: none; }
    @media screen and (max-width: 700px) {
      .top-nav .brand {
        font-size: 6rem; } }
    @media screen and (max-width: 480px) {
      .top-nav .brand {
        font-size: 2rem;
        top: 0; }
        .top-nav .brand:before {
          content: "\e600"; } }
  .top-nav.fixed {
    position: fixed;
    top: 0;
    left: 0; }
  @media screen and (max-width: 700px) {
    .top-nav .hambuger {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

#toggle {
  display: none; }
  #toggle:checked + .nav-links {
    max-height: 240px;
    padding-top: 13px;
    color: #666; }
    #toggle:checked + .nav-links li:last-of-type a {
      padding: 9px 6px;
      background: #51C5FD;
      color: #fff;
      margin-left: 0;
      border: none; }

.go-to {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #51C5FD;
  color: #51C5FD;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  display: block;
  font-size: 32px; }
  .go-to span {
    line-height: 50px; }

.goup,
.godown {
  overflow: hidden; }

.godown span,
.goleft span,
.goup span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  text-align: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.goup span span:nth-of-type(1) {
  top: 0px; }

.goup span span:nth-of-type(2) {
  top: 50px; }

.goup span span:nth-of-type(3) {
  top: 100px; }

.goup span span:nth-of-type(4) {
  top: 150px; }

.goup span span:nth-of-type(5) {
  top: 200px; }

.goup span span:nth-of-type(6) {
  top: 250px; }

.goup:hover > span {
  top: -150px; }

.godown span span:nth-of-type(1) {
  top: 250px; }

.godown span span:nth-of-type(2) {
  top: 200px; }

.godown span span:nth-of-type(3) {
  top: 150px; }

.godown span span:nth-of-type(4) {
  top: 100px; }

.godown span span:nth-of-type(5) {
  top: 50px; }

.godown span span:nth-of-type(6) {
  top: 0; }

.godown > span {
  top: -200px; }

.godown:hover > span {
  top: -50px; }

.goleft {
  left: -25px; }

.goleft span span:nth-of-type(1) {
  left: 0; }

.goleft span span:nth-of-type(2) {
  left: 25px; }

.goleft:hover > span {
  left: -25px; }

.footer {
  padding: 30px 0 20px; }

.social-icons {
  width: auto; }
  .social-icons a {
    color: #999;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .social-icons a:hover {
      color: #51C5FD;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      border: 1px solid #51C5FD;
      -webkit-box-shadow: #51C5FD 0px 0px 1px;
              box-shadow: #51C5FD 0px 0px 1px; }

.post-excerpt--meta {
  margin-bottom: 10px;
  font-size: 0.9rem; }

.post-excerpt h3 a {
  color: inherit;
  font-weight: 700; }
  .post-excerpt h3 a:hover, .post-excerpt h3 a:focus {
    text-decoration: none;
    color: #51C5FD; }

.post--body h1, .post--body h2 {
  margin-top: 30px; }

.post--body h3 {
  margin-top: 20px; }

.post--body p {
  font-size: 1.05em;
  margin-bottom: 1.5em; }

.post blockquote, .post pre {
  border-left: 4px solid #51C5FD;
  background-color: #fafafa;
  padding: 16px 30px;
  margin: 30px 0; }

.post blockquote {
  padding-left: 40px; }

.post pre {
  line-height: 1.3; }

.post .preface {
  font-size: 1em; }

.paginator {
  text-align: center; }

.read-more {
  display: inline-block; }

/* Fields
 * for use with inputs and textereas */
.field {
  width: 100%;
  padding: .5rem .7rem;
  margin-bottom: 16px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #fafafa;
  color: #777;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s;
  transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s, -webkit-box-shadow 0.15s; }
  .field:focus {
    border: 1px solid #51C5FD;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(81, 197, 253, 0.6);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(81, 197, 253, 0.6); }

.btn {
  display: inline-block;
  padding: 6px 18px;
  border: 1px solid #51C5FD;
  margin-right: 10px;
  margin-bottom: 10px; }
  .btn:last-of-type {
    margin-right: 0; }
  .btn--clear {
    color: #51C5FD; }
    .btn--clear:hover {
      color: #039ce5; }
  .btn--solid {
    background-color: #51C5FD;
    color: #fff; }
    .btn--solid:hover {
      color: #fff;
      background-color: #039ce5; }
  .btn--3d {
    border: 1px solid transparent;
    color: #FFF !important;
    background: #51C5FD;
    border-width: 0 0 .2rem;
    border-color: #039ce5;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .btn--3d:hover {
      margin-top: .1rem;
      border-bottom-width: .1rem;
      text-decoration: none; }
  .btn:hover {
    border-color: #039ce5;
    text-decoration: none; }
  .btn [class^="icon-"], .btn [class*=" icon-"] {
    margin-right: 5px;
    line-height: 1.5; }

#home.hero {
  background-image: url(../img/bg.jpg); }
  #home.hero .hero--overlay {
    padding: 11rem 0 11rem; }
    @media screen and (max-width: 700px) {
      #home.hero .hero--overlay {
        padding: 8rem 0 8rem; } }

#about .profile {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  #about .profile .avatar-lockup {
    width: 180px; }
  @media screen and (max-width: 700px) {
    #about .profile {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      #about .profile .blurb {
        text-align: center; } }

#work .projects {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  #work .projects .fluid-box {
    padding: 10px; }
  #work .projects .project {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 3px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 3px;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 3px; }
    #work .projects .project .img {
      width: 100%;
      height: 150px;
      background: #eee; }
    #work .projects .project span {
      display: inline-block;
      padding: 8px 5px;
      font-size: .8em; }

#contact {
  background-color: #f4f4f4; }
  #contact .social {
    width: 300px; }
    @media screen and (max-width: 700px) {
      #contact .social {
        width: auto; } }
    #contact .social-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      #contact .social-links a {
        margin-bottom: 10.66667px; }
    #contact .social [class^="icon-"] {
      margin-right: 10px;
      background: #fff;
      display: inline-block;
      height: 32px;
      width: 32px;
      text-align: center;
      line-height: 32px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 0 0 5px #ddd;
              box-shadow: 0 0 5px #ddd; }
  #contact .contact-form .field {
    padding: .8em 1.1em;
    background-color: #fff; }
  #contact .contact-form .btn {
    padding: .8rem 1.1em .6rem; }
  #contact .contact-form .flex-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #contact .contact-form .flex-actions .button {
      margin-right: 16px; }
    @media screen and (max-width: 329px) {
      #contact .contact-form .flex-actions {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        #contact .contact-form .flex-actions .btn {
          width: 100%;
          margin-left: 0;
          margin-right: 0; } }
