section#about {
	.profile {
		justify-content: flex-start;
		.avatar-lockup {
			width: 180px;
			margin-right: 30px;
			img {
				max-width: 100%;
				border-radius: 6px;
				border: 5px solid #FFF;
			}
		}
		.blurb {
			p {
				margin: 0;
				font-size: 1.25em;
				line-height: 1.7;
			}
		}
		@media #{$pre-tablet} {
			align-items: center;
			flex-direction: column;
			.avatar-lockup {
				margin: 0 0 20px;
			}
			.blurb {
				text-align: center;
			}
		}
	}
}