section#contact {
	background: $dark-color;
	color: #fff;
	
	.contact-form {
		
		.field {
			border: 2px solid transparent;
			background-color: rgba(255,255,255, 0.05);
			color: #eee;
			&:focus, &:active {
				border: 2px solid $dark-accent;
			}
		}
		.flex-field {
			display: flex;
			div {
				width: 50%;
				&:first-of-type { padding-right: 8px; }
				&:last-of-type { padding-left: 8px; }
			}
			@media #{$smart-phone} {
				flex-direction: column;
				div {
					width: 100%;
					&:first-of-type { padding-right: 0; }
					&:last-of-type { padding-left: 0; }
				}
			}
		}
		.flex-actions {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			.button {
				margin-left:  8px;
				margin-right: 8px;
			}
			
			@media #{$smart-phone} {
				width: 100%;
				flex-direction: column;
				.button {
					width: 100%;
					margin-left:  0;
					margin-right: 0;
				}
			}
		}
	}
}

footer {
	background: $dark-color;
	color: #fff;
}