/*	FONTS
------------------------*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);


/*	VARIABLES
-----------------------------*/
/*---- Colors---- */
//$main-color : #2fc273;
$main-color:	 #059585;
$accent-color: #5ee663;
//$dark-accent:  darken($accent-color, 5%);
$dark-accent:  darken(#4BB052, 0%);
$link-color:	 $accent-color;
$dark-color:	 #1E2832;
$text-color:	 #555;
$bg-color:		 #f3f3f3;

/*---- Layout ----*/
$gutter: 16px;

/*---- Fonts ------*/
$main-font: 'Raleway', 'Segoe Ui', Calibri, sans-serif;

/*---- Break Points -----*/
$large-device: "screen and (min-width : 769px)";
$pre-tablet: 	 "screen and (max-width : 903px)";
$tablet: 			 "screen and (max-width : 768px)";
$small-tablet: "screen and (max-width : 640px)";
$smart-phone:  "screen and (max-width : 480px)";
$small-device: "screen and (max-width : 320px)";

$nav-width: 135px;

/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
	font-family: $main-font;
	color: $text-color;
	font-size: 100%;
	line-height: 1.5;
	background-color: $bg-color;
	overflow-x: hidden;
}

p {
	padding: 0 0 20px;
}

/* --- headings --- */
h1 {
	font-size: 3.4em;
	@media #{$smart-phone} {
		font-size: 2.8em;
	}
}
h2 {
	font-size: 2.6em;
	@media #{$smart-phone} {
		font-size: 2.2em;
	}
}
h3 {
	font-size: 2em;
	@media #{$smart-phone} {
		font-size: 1.8em;
	}
}
h4 { font-size: 1.2em; }
h5 { font-size: .8em; }
h6 { font-size: .6em; }

/*  Links and button Transitions
---------------------------------*/
%transition {
	transition: all 0.3s;
}

a {
	@extend %transition;
	outline: none 0;
	&:active, &:hover, &:visited, &:focus {
		outline: none 0;
	}
}

button,input[type=submit]{
	@extend %transition;
}

hr {
	margin-top: 2em;
	margin-bottom: 2.5em;
	border-width: 0;
	border-top: 1px solid #E1E1E1;
}

/* ------ Normalize ----- */

*, *:before, *:after  {
	box-sizing: border-box;
}

/* ------ Wrapper -------- */

.wrapper {
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;
}