#about {
  .profile {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    .avatar-lockup {
      width: 180px;
    }
    @media #{$tablet} {
      align-items: center;
      flex-direction: column;
      .blurb {
        text-align: center;
      }
    }
  }
}
