#contact {
  background-color: #f4f4f4;
  .social {
    width: 300px;

    .social-links {
      flex-direction: column;
      a {
        margin-bottom: $gutter / 1.5;
      }
    }

    [class^="icon-"] {
      margin-right: 10px;
      background: #fff;
      display: inline-block;
      @include size(32px);
      text-align: center;
      line-height: 32px;
      border-radius: 50%;
      box-shadow: 0 0 5px #ddd;
    }
  }
  .contact-form {
    .field {
      padding: .8em 1.1em;
      background-color: #fff;
    }
    .button {
      padding: .8rem 1.1em .6rem;
    }
    .flex-actions {
      display: flex;
      .button {
        margin-right: $gutter;
      }
      @media #{$small-device} {
        width: 100%;
        flex-direction: column;
        .button {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}