#contact {
  background-color: #eee;
  .social {
    width: 300px;
    [class^="icon-"] {
      margin-right: 10px;
    }
  }
  .contact-form {
    .field {
      padding: .8em 1.1em;
      background-color: #fff;
    }
    .button {
      padding: .8rem 1.1em .6rem;
    }
    .flex-actions {
      display: flex;
      .button {
        margin-right: $gutter;
      }
      @media #{$small-device} {
        width: 100%;
        flex-direction: column;
        .button {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}